header {
	background-color: $darkBlue;
	position: relative;
	z-index: 21;
	padding: 8px 5px;
	@include linearGradient(#2d68ca, $darkBlue);

}
.off-canvas-btn {
	border-radius: 6px;
	font-size: 1.2em;
	text-transform: uppercase;
	margin: 15px auto;
	display: block;
	font-weight: 400;
	@media screen and (min-width: $med-screen) {
		transform: translateY(30%);
		float: right;
		margin: 0;
	}
}

#logo {
	margin: 0;
	padding: 0;
	margin-bottom: -11px;
	max-width: 400px;
}


//Navigation
#offCanvas {
	background: $medBlue;
	height: 100%;
	a {
		color: $white; 
		font-size: 1.4em;
		display: block;
		width: 100%;
		&:hover {
			background: $darkBlue;
			color: $white;
		}
	}
	.close-button { right: .5rem; top: 0;}
	.close-button span { font-size: 1em; color: $white;}
}

#sorting > .row {max-width: 75rem;}
#sorting.stick {
  position: fixed;
  width: 100%;
  z-index: 200;
  top: 0;
  left: 0;
  background: rgba(255,255,255, .8);
}
