html {
	box-sizing: border-box;
	height: 100%;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: $white; /* Fallback for when there is no custom background color defined. */
	font-weight: 400;
	height: 100%;
	position: relative;
	@include lightFont;
}

blockquote, q {
	quotes: "" "";

	&:before,
	&:after {
		content: "";
	}
}

hr {
	background-color: $black;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

a {
	&:hover,
	&:focus {text-decoration: none;} 
}

button,
.btn,
#content button,
#content .btn {
	border-radius: 6px;
	font-weight: 400;
}